<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Marionette Contact Manager</title>
    <link href='http://getbootstrap.com/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='./assets/css/application.css' rel='stylesheet'>
    <link href='./assets/css/bootstrap_and_overrides.css' rel='stylesheet'>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Contact Manager</span>
        </div>
      </div>
    </nav>

    <div id="main-region" class="main container">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Here is static content in the web page. You'll notice that it gets replaces by our app as soon as we start it.</p>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.5/backbone.marionette.min.js"></script>

    <!-- MARIONETTE -->
     <!-- Templates -->
    <script type="text/template" id="contact-list-item">
      <td><%= firstName %></td>
      <td><%= lastName %></td>
      <td>
        <button class="btn btn-small js-delete">
          <i class="glyphicon glyphicon-remove"></i>
          Delete
        </button>
      </td>
    </script>
    <script type="text/template" id="contact-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <!-- Includes -->
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/entities/contact.js"></script>
    <script src="./assets/js/apps/contacts/list/list_view.js"></script>
    <script src="./assets/js/apps/contacts/list/list_controller.js"></script>

    <script type='text/javascript'>
      ContactManager.start();
    </script>
  </body>
</html>